body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffffe9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* Centraliza o conteúdo */
}

h1,
h2 {
  color: black;
}

.menu-item {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  /* Alinha o texto à esquerda */
}

.menu-item img {
  max-width: 100%;
  /* Garante que a imagem não ultrapasse a largura máxima do contêiner */
  height: auto;
  display: block;
  /* Remove margens verticais */
  margin: 0 auto 10px;
  /* Centraliza a imagem e adiciona uma margem inferior */
}

.menu-item h3 {
  margin-top: 10px;
}

.menu-item p {
  color: black;
}

.cta-button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.cta-button:hover {
  background-color: red;
} 